@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap');


* {
  font-family: 'Signika Negative', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(-45deg, #081831, black, #101f35, black);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.titre {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 200px;
}

.title {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: #215CBB;
  padding: 10px;
  border-radius: 4px;
}
.title:hover {
  transform: scale(1.1);
}

a {
  color: white;
}

.platitle {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.page-planet {
  overflow: hidden;
}

.rotate-center:hover {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

a {
  text-decoration: none;
}

.planet {
  color: white;
  margin-top: 10px;
  text-decoration: none;
  font-size: 12px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  font-family: 'Signika Negative', sans-serif;
  height: 60px;
  position: fixed;
  width: 100vw;
  top: 0px;
}

select {
  font-size: 15px;
  font-weight: bold;
  border: none;
  padding: 10px;
  background: black;
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  margin-right: 30px;
}

.planet-info {
  color: white;
}

.buttoninfo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  font-family: 'Signika Negative', sans-serif;
  height: 60px;
  position: fixed;
  width: 100vw;
  bottom: 0px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  margin-left: 100px;
}

.logo {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin-right: 100px;
}

.logohover:hover {
  transform: scale(1.1);
}

#info {
  display: flex;
  height: 100vh;
  color: white;
  align-items: center;
  justify-content: space-around;
}

.descri {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.top {
  margin-top: 40px;
  text-align: center;
}

li {
  list-style-type: none;
  font-family: 'Signika Negative', sans-serif;
}

.depart {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trait {
  display: block;
  height: 1px;
  background: white;
  width: 50%;
}

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pulsate-fwd {
  -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
  animation: pulsate-fwd 1s ease-in-out infinite both;
}

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.logoNav {
  margin-left: 20px;
}

.imgfusee {
  transform: rotate(45deg);
  position: absolute;
  top: 80px;
  width: 100px;
  left: -200px;
  animation: fly 10s ease-in infinite;
}

.paragraphe {
  font-family: 'Titillium Web', sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  color : white;
  text-align: justify;
  font-size : 25px;
  font-weight: italic;
}

.paraphoto {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content : space-around;
  width: 800px;
  display: flex;
  flex-direction: column;
}

@keyframes fly {
  0% {
    left: -200px;
  }

  100% {
    left: 100%;
  }
}


.fade-in {
	-webkit-animation: fade-in 7s infinite cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
	        animation: fade-in 7s infinite cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity : 0;
  }
}


.flicker-in-1 {
	-webkit-animation: flicker-in-1 4s linear 3s both;
	        animation: flicker-in-1 4s linear 3s both;
}

/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
 @-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}


.pulsate-bck {
	-webkit-animation: pulsate-bck 2s ease-in-out infinite both;
	        animation: pulsate-bck 2s ease-in-out infinite both;
}

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
 @-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.planetesacc {
  width: 100px;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility : visible;
}

.loading {
  font-size : 40px;
  text-align:center;
  margin-top : 300px;
  color: white;
  height: 100vh;
}

@media screen and (max-width: 730px) {
  body {
    overflow:visible;
    height: auto;
  }
  nav {
    flex-direction: column;
    height: 150px;
    position: absolute;
    justify-content: space-around;
  }
.footer {
  flex-direction: column-reverse;
  height: 100px;
  justify-content: space-around;
  margin-top: 10px;
  width: 100%;
  position: static;
}
  
h3 {
  margin: 0;
}

.imgfusee {
  width: 70px;
}

.planetesacc {
  width: 70px;
}

.logo {
  margin: 0;
}

.logoNav {
  margin: 0;
}

.global {
  display : flex;
  flex-direction:column;
}

#info {
  flex-direction: column-reverse;
  margin-top: 100px;
}

.descri {
  width: 90%;
}

.imagedescri {
  width: 80%;
}

.imgfusee {
  margin-top: 80px;
}

.titre {
  margin-top: 280px;
  font-size: 30px;
}

.paraphoto {
  width: 90%;
}

.paragraphe {
  font-size : 15px;
}

.title {
  margin-bottom: 10px;
}

select {
  margin-right: 0px;
  margin-bottom : 10px;
}

}